
/*
 *整个圆角边框效果的样式
 */
 .b1,.b2,.b3,.b4,.b1b,.b2b,.b3b,.b4b,.b{display:block;overflow:hidden;} 
.b1,.b2,.b3,.b1b,.b2b,.b3b{height:1px;}
 .b2,.b3,.b4,.b2b,.b3b,.b4b,.b{border-left:5px solid #004080;border-right:5px solid #004080;}
 .b1,.b1b{margin:0 5px;background:#999;}
 .b2,.b2b{margin:0 3px;border-width:2px;}
 .b3,.b3b{margin:0 2px;} .b4,.b4b{height:2px;margin:0 1px;}
 .d1{background:#ffffff;}
 
 
 /*
 *视频信息td标题的样式
 */
  .b12,.b22,.b32,.b42,.b12b,.b22b,.b32b,.b42b,.b{display:block;overflow:hidden;} 
.b12,.b22,.b32,.b12b,.b22b,.b32b{height:1px;}
 .b22,.b32,.b42,.b22b,.b32b,.b42b,.b{border-left:5px solid #4C6EB5;border-right:5px solid #000000;}
 .b12,.b12b{margin:0 5px;background:#4C6EB5;}
 .b22,.b22b{margin:0 3px;border-width:2px;}
 .b32,.b32b{margin:0 2px;} .b42,.b42b{height:2px;margin:0 1px;}
 .d12{background:#4C6EB5;}
 
 
 
 
 
 





